/* Map Container Styles */
.MapContainer {
    height: 70vh;
    width: 100%;
}

.pin {
    display: flex;
    align-items: center;
    width: 180px;
    color: white;
}

.pin-icon {
    font-size: 4rem;
}

.pin-text {
    font-size: 1.3em;
}

/* Search Results Styles */
.resultParent {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 1.0em 0 1.0em 0;
}

.resultHeader {
    border-radius: var(--border_radius) var(--border_radius) 0 0;
    background-color: var(--color_high_contrast);
}

.resultContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: var(--color_low_contrast);
}