/* Map Container Styles */

.MapContainer {
    height: 70vh;
    width: 100%;
}

.pin {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 180px;
    color: var(--color_error);
}

.pin-icon {
    font-size: 3rem;
}

.pin-text {
    font-size: 1.3em;
    align-self: center;
    justify-self: start;
    text-align: left;
}

/* Search Results Styles */

.resultParent {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 1.0em 0 1.0em 0;
}

.resultHeader {
    border-radius: var(--border_radius) var(--border_radius) 0 0;
    background-color: var(--color_high_contrast);
}

.resultContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 24em;
    background-color: var(--color_low_contrast);
}

.resultPagination {
    padding: 0.5em;
    border-radius: 0 0 var(--border_radius) var(--border_radius);
    background-color: var(--color_low_contrast);
}

.resultButton {
    padding: 0.5em;
    margin: 0 0.25em 0 0.25em;
    font-weight: 700;
    letter-spacing: 0.125em;
    cursor: pointer;
    border: 0px solid var(--color_background);
    background-color: var(--color_high_contrast);
    color: var(--color_background);
}

.resultButton:hover {
    background-color: var(--color_Int_5);
}

.buttonCurrent {
    background-color: var(--color_Int_3);
}

.buttonPrev, .buttonNext {
    padding: 0.5em 1em 0.5em 1em;
}

.buttonPrev {
    border-radius: 1.5em 0 0 1.5em;
}

.buttonNext {
    border-radius: 0 1.5em 1.5em 0;
}

/* Media Queries */

@media screen and (max-width: 972px) {
    .resultContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 48em;
    }
}

@media screen and (max-width: 640px) {
    .resultContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 96em;
    }
}