h1, h2, h3, h4,
p {
  margin: 0;
}

#root {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

  background-color: var(--color_background);
}

/* Header/Footer Styles */
header, footer {
  display: flex;
  justify-content: center;

  background-color: var(--color_main);
}

header {
  margin: 0 0 1.0em 0;
}

.header_footer_container {
  width: 100%;
  max-width: 1280px;
}

/* Main Context Styles */
.App {
  display: flex;
  justify-content: center;

  background-color: var(--color_background);
}

.Main {
  width: 100%;
  max-width: 1280px;

  text-align: center;
}
